@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Ovo);

*{ margin:0; padding:0; box-sizing:border-box;}

body{
	background-color: rgb(39,77,171);
	font-size: 20px;
	font-family: 'Ovo', serif;
	color: white;
	line-height: 1.5;
	text-indent: .5em;
} 

.banner{
	width: 100%;

}

.box{
	background-color: yellow;
}

#meetme{
	background-color: rgba(39,130,171,1);
	border:1px rgba(39,130,171,1) solid;
	margin: auto;
	padding: 4em;
	text-align: left;
	text-indent: .5em;
	line-height: 1.5;
	float: right;
}

#mainimage{
	display: block;
	padding: none;
	max-width: 70em;
	width: 100%;
}

.imgframe{
	background: white;
	padding:1.5em;
	border: 1px solid #99999;
}


#me{
	display: block;
	margin-left: 5em;
	margin-right: 2em;
	margin-top: 12em;
	float: left;
	
}

#gallery{
	margin: 1.5em;
	text-align: center;
	font-size: 2em;
}

div.img{
	margin:1.5em;
	float: left;
	width: 15em;
	
}

div.img:hover{
	background-color: rgba(39,130,171,1);
}

div.img img{
	width: 100%;
	height:auto;
}

div.desc{
	padding: 1.5em;
	text-align: center;
}
div.img1{
	margin:1.5em;
	float: left;
}

h1{
	font-family: "Lobster", cursive;
	color: white;
	text-align: right;
	font-size: 4.5em;
	background-image: url("../images/horseheader2.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1.4em;
}

h2{
	color: white;
	text-align: center;
	/* padding: 1em; */
	margin-bottom: .5em;
}

#theartist{
	color: white;
	font-size: 2em;
	text-align: right
	margin-right: 6em;
	margin-top: 2em;
	float: right;
	padding-right: 4em;
}
section {
	padding:4em;
}
header{
	background-color: rgba(39,130,171,1);
	border: 1px rgba(39,130,171,1) solid;
	padding: 4em;
}

a {
	background-color: rgb(39,77,171);
	color: white;
}
nav{
	background-color: rgba(171,39,138,1);
	font-family: Arial, sans-serif;
}
nav a{
	text-decoration: none;
	display: block;
	float: left;
	padding: 1em;
}

a:hover {
	background-color: red;

}
.wrapper {
	background-color: black;
	max-width:60em;
	margin:auto
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}
#kitty{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#two_column{
	border: 1px rgba(39,130,171,1) solid;
	background-color: rgba(39,130,171,1);
	margin: auto;
}

#right{
	float: right;
	width: 100%;
}

#left{
	float: left;
	width: 100%;
	padding-right: 2em;
}

#column{
	float: right;
	width: 50%;
}

.clearfix:after{
	visibility: hidden; 
	display: block;
	font-size: 0; 
	content:" ";
	clear: both;
	height: 0;
}

.clearfix2:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

footer{
	padding: 1em;
	clear: both;
}

@media only screen and (max-width: 800px) {
	a:hover{
		background-color: rgb(39,77,171);
	}

	}

	#left {
		display: block;
		float: none;
	    text-align: left;
	    width: auto;
	    margin: 1em;
	}

	#right {
		display: block;
		float: none;
		width: auto;
	}

}

@media only screen and (max-width: 600px) {
		a:hover{
			background-color: rgb(39,77,171);
		}

		div{
			width: 100%;
			padding: .125em;
		}

		header{
			width: 100%;
			padding: 2em;
		}

		h1{
			font-size: 4em;
		}

		nav a{
			float: none;
			display: block;
			text-align: center;
			margin: 0;
		}

		#cat{
			padding: 1em;
		}


		#two_column{
			width: auto;
		}

		#left{
			display: block;
			float: none;
			width: auto;
		}

		#right{
			display: block;
			float: none;
			width: auto;
		}

		body{
			font-size: 0.8em; 
			text-align: left;
		}

		ul{
			width: auto;
		}
}

@media only screen and (max-width: 998px){
	h1{
		text-align: right;
		background-position: center;
	}

	header{
		padding: 2em;
	}

	#theartist{
		color: white;
		font-size: 2em;
		text-align: right
		margin-right: 6em;
		margin-top: 1em;
		float: none;
		padding-right: 1em;
	}

	#column{
		width: auto;
	}

	#me{
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
	}

}

@media only screen and (max-width: 630px){
	nav a{
			float: none;
			display: block;
			text-align: center;
			margin: 0;
		}

	body{

		font-size: 1em
	}

}

