@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Ovo);

body{
	background-color: rgb(39,77,171);
}   

#cat{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul{
	color: white;
	text-align: center;
	list-style-type: none;
}

h1{
	font-family: "Lobster", cursive;
	color: white;
	text-align: center;
	font-size: 90px;
}

h2{
	color: white;
	text-align: center;
	border-bottom: 4px double white;
	display: inline-block;
}

.text{
	font-family: 'Ovo', serif;
	color: white;
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}

div{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav{
	background-color: #E8C66A;
	border:1px black solid;
	padding: 20px;
}

figure{
	color: blue;
}

aside{
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article{
	background-color: #E89C6C;
	border:1px black solid;
	padding: 20px;
}

article{
	background-color: #E89C6C;
	border:1px black solid;
	padding: 20px;
}

footer{
	background-color: #FF957E;
	border:1px black solid;
	padding: 20px;
}