body{
	background-color: rgb(39,77,171);
}   

ul{
	color: white;
	text-align: center;
	list-style-type: none;
}

h1{
	color: white;
	text-align: center;
	font-size: 90px;
}

h2{
	color: white;
	text-align: center;
}

.text{
	color: white;
	text-align: center;
	font-size: 90px;
	line-height: 1.5em;
	margin: 2em;
}